# macOS
.DS_Store

# Environment variables / secrets
.env
.env.*
!.env.example

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# React
frontend/build/

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example

# Terraform crash logs
crash.log
crash.*.log

# Temporary files
*.swp
*.swo
